* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.container {
    max-width: 375px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
    background: #fff;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    color: #325454;
}

.banner {
    width: 375px;
    height: 211px;
    overflow: hidden;
    margin: 0 auto;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;         
}

 .main-header {
    padding: 10px;
}

.main-header h2 {
    margin-bottom: 15px;
}

.main-header select {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.topics h3 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #555;
}


.topics-list img {
    margin-bottom: 15px;

}

.gallery {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 120px;
    gap: 10px;
    grid-auto-flow: dense;
    
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.tall {
    grid-row: 2;
}

.wide {
    grid-column: 2;
}


.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    padding: 30px 20px;
    background: linear-gradient(#1e3c72, #2a5298);
    text-align: center;
    margin-top: 40px;
 }
  
  .footer h3 {
    font-size: 20px;
    color: #fff;
}
  
  .footer img {
    display: block;
}
  
 
  .footer > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
  
  .footer p {
    margin: 0;
    font-size: 15px;
    opacity: 0.9;
    color: #fff;
}
  

  .social-links {
    display: flex;
    gap: 14px;
    margin-top: 10px;
}

  .social-links img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    color: #fff;
}
  







